/* CSS Document */
@keyframes rotation{
	from{
		transform: rotate(0deg);
	}to{
		transform:rotate(359deg);
	}
}

@keyframes fadeIn{
	0% { opacity: 0; }
	100% { opacity: 1; }
}

body { 
	background-color: #212121;
	color: darkslategray;
}

.navbar.navbar-light{
	background-color: #1B1B1B;
}

.nav-link{
	color:darkslategray;
}

.nav-link.active{
	color:gray;
}


.fade-in{
	animation: fadeIn 3s;
}

.body-content ol{
	padding-top: 50px;
	display: inline-block;
	text-align:left;	
}

.body-content img{
	height:100%;
}

.body-content table{
	color: darkslategray;
	border-color:darkslategray;
	border: solid;
}

.rotate img:hover{
	animation: rotation 1s linear;
}




