/* CSS Document */
@keyframes rotation{
	from{
		transform: rotate(0deg);
	}to{
		transform:rotate(359deg);
	}
}

body { 
	background-color: #212121;
	color: darkslategray;
}

.navbar.navbar-light{
	background-color: #1B1B1B;
}

.nav-link{
	color:darkslategray;
}

.nav-link.active{
	color:gray;
}

.body-content ol{
	padding-top: 50px;
	display: inline-block;
	text-align:left;	
}

.body-content img{
	height:100%;
	animation: rotation 2s 2s linear;
}

.body-content table{
	color: darkslategray;
	border-color:darkslategray;
	border: solid;
}




